<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:spring="http://www.mulesoft.org/schema/mule/spring"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd">
	<http:request-config name="HTTPS_FOR_CONNECTING_TO_CLOUDHUB" doc:name="HTTP Request configuration"  >
		<http:request-connection protocol="HTTPS" host="anypoint.mulesoft.com" port="443"/>
	</http:request-config>
	 <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config"  >
		<http:listener-connection host="${http.host}" port="${http.port}" />
	</http:listener-config>
	<spring:security-manager doc:name="Spring Security manager"  >
			<spring:delegate-security-provider name="memory-provider" delegate-ref="authenticationManager" />
	</spring:security-manager>
	<spring:config name="Spring_Config" doc:name="Spring Config"  files="beans.xml" />
	 <configuration-properties doc:name="Configuration properties"  file="config\analysis.properties" />
	</mule>
